/* here you can put your own css to customize and override the theme */
.on-demand {
    font-size:18px;
    color:white !important;
    padding-right:10px;
}

.on-demand-button {
    background-color: #89c402 !important;
    color: #1a1a1a !important;
    font-size: 24px !important;
    font-weight: 300 !important;
    text-transform:none !important;
}

.on-demand-button:hover {
    background-color: #a5ce00 !important;
    color: #fff;
}

 .on-demand-button:after {
    border-color: currentColor;
    border-style: solid;
    border-width: 1px 1px 0 0;
    content: '';
    display: inline-block;
    height: 18px;
    margin-top: -2px;
    position: absolute;
    right: 24px;
    top: 50%;
    width: 18px;
    -ms-transform: rotate(45deg) translate(0,-50%);
    -o-transform: rotate(45deg) translate(0,-50%);
    -webkit-transform: rotate(45deg) translate(0,-50%);
    transform: rotate(45deg) translate(0,-50%);
}

.back-button {

}

.back-button:before {
    border-color: currentColor;
    border-style: solid;
    border-width: 1px 1px 0 0;
    content: '';
    display: inline-block;
    height: 14px;
    width: 14px;
    margin-bottom: -2px;
    position: absolute;
    bottom: 50%;
    -ms-transform: rotate(225deg) translate(0,-50%);
    -o-transform: rotate(225deg) translate(0,-50%);
    -webkit-transform: rotate(225deg) translate(0,-50%);
    transform: rotate(225deg) translate(0,-50%);
}

.lab-step-padding {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}

.microsoft-navigation {
    padding-top: 25px;
    padding-left: 50px;
    padding-bottom: 25px;
    padding-right: 10px;
}

.microsoft-navigation-heading {
    font-size: 35px;
    line-height: 36px;
}

.pre-footer-font-size-custom {
    font-size: 15px;
    line-height: 36px;
}

.footer-font-size-custom {
    font-size: 14px;
}

.btn-custom-size {
    width: 250px;
}

.p-title-custom {
    margin: 20px 0 !important;
    font-size: 15px;
    color: #000000;
}

.git-doc-content {
    margin:8px;
}

.git-doc-next {
    /*float:right;
    margin-right:20px;*/
}

.git-doc-Previous {
    margin-left:0px;
}

.get-doc-align-center {
    margin-top:15px;
    text-align:center;
}

.git-doc-main-content {
    margin:0px !important;
    background:#FFFFFF;
}

.git-remove-passing {
    padding:0 !important;
}

.gitview {
    font-family: Segoe UI Light, 'Segoe UI', SegoeUI !important;
    font-size: 16px;
}

.gitview .gitview-header-container {
        background-color: #0067b8;
        color: #fff;
        padding: 15px;
        position: relative;
    }
.footer-fixed {
    font-family: Segoe UI Light, 'Segoe UI', SegoeUI !important;
    font-size: 14px;
    z-index: 102;
    position: fixed;
    bottom: 0;
    right: 0;
    width:100%;
    background-color: #0067b8 !important;
    color: #ffffff;
    padding: 10px;
}

.gitview-header {
    font-weight: bold;
}

.gitview-remaining-time-display {
}

.gitview .gitview-header-container .gitview-menu {
    position: absolute;
    right: 17px;
    top: 50%;
    font-size: 19px;
    margin-top: -10px;
    cursor: pointer
}

.gitview .gitview-navigation-tabs {
    background-color: #efefef;
    display: flex;
    float: initial;
    align-items: center;
    height: 3em;
    position: relative;
    border-color: #FFFFFF !important;
}

    .gitview .gitview-navigation-tabs li {
        flex: 1;
        text-align: center;
        height: 100%
    }
    
.gitview .tab-content {
    background: #FFFFFF;
    /*margin-top: 100px;*/
    position: relative;
}

.gitview .gitview-navigation-tabs li > a {
    height: 100%
}

.gitview .gitview-navigation-tabs > li.active > a, .labview .gitview-navigation-tabs > li.active > a:hover, labview .gitview-navigation-tabs > li.active > a:focus {
    background-color: #FFFFFF;
    color: #555;
    font-weight: 500;
}

.gitview .gitview-navigation-tabs > li > a

.gitview .progress-bar-container {
    float: right;
    position: relative
}

.gitview .progress-bar-container .progress-bar-label {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 80%
}
.gitview .progress-bar-container .progress-bar-outer {
    right: 10%;
    top: 50%;
    margin-top: -2px;
    background-color: lightgray;
    position: absolute;
    width: 65%;
    height: 10%;
    border-radius: 3px
}

    .gitview .progress-bar-container .progress-bar-outer .progress-bar-inner {
        width: 1%;
        min-width: 1%;
        height: 8px;
        background-color: green;
        transition: width 0.75s ease-in-out;
        position: relative;
        margin-top: -2px;
        border-radius: 15px
    }

.gitview .md-ol-item {
    display: flex;
    /*margin-bottom: 5px;*/
}
.gitview .md-checkbox-lab {
    position:relative;
}

.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    /*background-color: #eee;*/
    margin-top: 20px;
    margin-right: 30px;
    margin-left: -20px;
    margin-bottom: 20px;
    border: 1px solid #229322;
}

.container-checkbox:hover input ~ .checkmark {
    background-color: #86ba10;
}

 .container-checkbox input:checked ~ .checkmark {
    background-color: #229322;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}
.container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.open-document-right {
    right:50px !important;
}
.lab-trial-container {
    background-color:#FFFFFF;
    padding-left:3%;
    padding-right:3%;
}
.lab-trial-intro {
    /*padding-top:48px;*/
    padding-bottom:24px;
}

.lab-heading-3 {
    padding: 38px 0 2px;
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
}

.lab-heading-2 {
    padding: 25px 0 3px;
    font-weight: 200;
    font-size: 18px;
    line-height: 24px;
}
.lab-bold-fix {
    font-weight: 600;
}

.lab-list li {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    line-height: 20px;
}
.lab-main-heading {
    padding-top:50px;
    color:#FFF;
    padding-left:10%;
}
.gitview-header-fixed {
    position: fixed;
    width: 100%;
    padding-bottom: 15px;
    z-index: 103;
}